<!DOCTYPE html>
<html>
        <body>
            <div align = center>
                <H1>{{ conference.name }}</H1>
                <H2>Description</H2>
                <p>
                    {{ conference.description }}
                </p>
            <H2>Dates and Times</H2>
            {% for datetime in conference.conference_date_time_set.all %}
                <p>
                    From {{datetime.start_date_time | date:'M d, Y h:i a'}} to {{datetime.end_date_time | date:'M d, Y h:i a'}}
                </p>
            {% endfor %}
            <H2>Discount</H2>
            <p>{{discount_percent}}% until {{conference.discount_deadline | date:'M d, Y'}}</p>
            <H2>Price To Attend</H2>
            <p>Original Price: ${{original_price}}</p>
            <p>Discount Price: ${{discount_price}}</p>  
            <H3>(Includes technical session and one banquet ticket)</H3>
            <H4>(Students get a 5% discount)</H4>  
            <div>
                <form method="POST">
                    {% csrf_token %}
                    <button type="submit" name="confirm_checkout" value="confirm_checkout"><strong>Checkout</strong></button>
                </form>              
            </div>
            </div>            
        </body>     
</html>