<!DOCTYPE html>
<html>
    <div>
        <h1>Current Bill</h1>
        {% if purchase_info_list %}
            {% for purchase_info in purchase_info_list %}
            <H3>{{ purchase_info.purchased_conference.conference.name }}</H3>
            <p>
                Technical Session Cost: ${{ purchase_info.technical_session_cost }}
                <br>
                Tutorial Session Cost: ${{ purchase_info.tutorial_session_cost }}
                <br>
                Workshop Session Cost: ${{ purchase_info.workshop_session_cost }}
                <br>
                {{ purchase_info.proceedings_amt }} Proceedings for: ${{ purchase_info.proceedings_cost }}
                <br>
                {{ purchase_info.banquet_tickets_amt }} Banquet Tickets for: ${{ purchase_info.banquet_tickets_cost }}
                <br>
                Original Price: ${{ purchase_info.total }}
                <br>
                Discount: {{ purchase_info.discount_percent }}%
                <br>
                Discount Price: ${{ purchase_info.discount_price }}
                <br>
                Purchase Date: {{ purchase_info.purchased_date_time | date:'M d, Y h:i a' }}
                <br>
                Payment Type: {{ purchase_info.payment_type }}
                <br>
                <br>
                <a href="{% url 'remove_purchase' purchase_info.purchased_conference.pk %}">Remove Purchase</a>
            </p>       
            <br>
            {% endfor %}
            <strong>Grand Total: ${{ grand_total }}</strong>
        {% else %}
            <p>There are currently no purchases on this account.</p>
        {% endif %}       
    </div>  
</html>